.span-H
    {
        font-weight: bold;
    }
.span-T
    {
        font-weight: bold;
    }
.span-M
    {
        font-weight: bold;
    }
.span-L
    {
        font-weight: bold;
    }
.div-a
    {
        
        border-color: rgb(28, 28, 61);
        border-style: solid;
        border-width: 2px;
        background-color: beige;
        display: inline-block;
        
    }