/* Documentation sur le CSS*/
h1 /*defini la "Class"*/
    {
        font-size: 50px; /* defini la taille d'un caractère */
        font-style: italic; /* defini le style d'un caractère */
        font-family: Tahoma, Geneva, Verdana, sans-serif; /* défini la police*/
        font-weight: lighter;
        color: rgb(16, 8, 122);/* defini la couleur des caractères*/
        text-align: center; /* va centrer le texte au milieu de la page*/
        text-transform: uppercase;/* va mettre le texte en majuscule*/
        text-decoration: underline;/* va souligner le texte*/
    }

h2
    {
        text-align: right;/*va afficher le texte a droite de a page*/
                          /*  les autres valeurs sont justify, left */
        text-transform: lowercase;/* va mettre le texte en minuscule*/
        text-decoration: overline;/* va souligner le texte au dessus*/
    }

h3
    {
        font-size: 25px;
        text-transform: capitalize;/* va mettre en majuscule les premieres lettres de chaques mots*/
        text-decoration: line-through;/* va barré le texte*/
        text-indent: 50px;/* va effectuer un retrait de la valeur entrée*/
    }

h4
    {
        font-size: 25px;
        text-indent: 100px;    
        text-shadow: 5px 5px 10px #000000;/* va ajouter une ombre au texte*/
        /* la preimère valeur defini l'orientation vers la droite, si la valeur est positive et vers la gauche si negative
           la deuxieme valeur defini l'orientation vers le bas, si la valeur est positive et versl le haut si negative
           la troisième valeur defini la propagation de l'ombre, plus la valeur est elevée plus l'ombre sera diffuse
           la quatrième valeur defini la couleur de l'ombre.*/

    }
/* si on defini un selecteur */
p   
    {
        color: red; /* la couleur rouge sera affectée à tous les paragraphes*/
        letter-spacing: 5px;/*defini l'ecart entre les caractères*/
        word-spacing: 15px;/* defini l'ecart entre les mots*/
}

/*si on veut appliquer la même mise en forme au paragraphe et au titre de niveau 2 */

p, h2 

    {
        font-weight: bolder;
        color: brown;
        line-height: 5px;/* defini l'ecart entre les lignes*/
        
    }

.pre-01

    {
        font-size: 100%;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 15px; 
    }

/* si on veuy mettre enforme des paragraphes séparément, il faut utilisé un attribut id ou class */

#Paragraphe_1 /* pour definir la valeur id il faut la preceder d'un # et est unique dans votre page html*/

    {
        font-size: 25px;
        color: grey;
    }

.paragraphe_style1 /* pour definir la valeur class il faut la preceder d'un . et peut être reutiliser dans d'autre balise*/ 

    {
        font-size: 30px;
        color: green;
    }

/* la notion d'heritage en CSS*/
/*
    En CSS, les "enfants" heritent des attributs des parents.
    Si la balise <body> à un attribut couleur rouge, tous les balises à l'interieure auront le même attribut couleur rouge.
    Néanmoins, si dans le <body> la balise <h1> a un attribut couleur bleu defini par une class elle n'herite plus de la couleur rouge.
    il y a des priorités entre class et id, si une balise a un id ET une class, sera sera l'id qui primera.
*/
.style-p

    {
        color: aliceblue;
    }

.style-p2

    {
        color: #000000;
        font-size: 17px;
        line-height: 1px;
        letter-spacing: normal;
        word-spacing: normal;

    }

.style-p3

    {
        color: #000000;
        font-size: 25px;
        line-height: 2px;
        letter-spacing: normal;
        word-spacing: normal;
        text-decoration: underline;

    }

.paragraphe_block
    {
        border: 1px;
        border-style: solid;
        border-color: black;
    }

.paragraphe_inline
    {
        border: 1px;
        border-style: solid;
        border-color: black;
    }

.style_div
    {
         
        border: 2px;
        border-style: solid;
        border-color: black;
        background-color: goldenrod;
       
    }

.span-red
    {
        color: red;
        background-color: aliceblue;
    }

.span-green
    {
        color: green;
        background-color: aliceblue;
    }

.span-blue
    {
        color: blue;
    }

.span-lime
    {
        color: lime;
    }

.span-brown
    {
        color: brown;
    }

.paragraphe-1
    {
        color: blue;
    }

.paragraphe-2
    {
        color: purple;
    }

.paragraphe-3
    {
        color: green;
    }

.paragraphe-4
    {
        color : #dd5566;
    }

.paragraphe-5
    {
        color :rgb(16, 80, 122);
        
    }

.paragraphe-6
    {
        color: rgba(16, 80, 122, 0.8);
    }

.paragraphe-7
    {
       color: rgba(16, 80, 122, 0.2);
    }

.paragraphe-8
    {
        color: black;
        opacity: 0.5;
    }

.style-inline

    {
        color: #000000;
        font-size: 20px;
        line-height: 2px;
        letter-spacing: normal;
        word-spacing: normal;
        display: inline;
        border: 2px;
        border-style: solid;
        border-color: black;

    }

.style-inlblock-1
    {
       
        width: 45%;
        border: 2px;
        border-style: solid;
        border-color: black;
        color: #000000;
        font-size: 20px;
        line-height: normal;
        letter-spacing: normal;
        word-spacing: normal;
        display: inline-block;
        
    }

.style-inlblock-2
     {
        
        width: 35%;
        color: #000000;
        font-size: 20px;
        line-height: normal;
        letter-spacing: normal;
        word-spacing: normal;
        border: 2px solid black;
        display: inline-block;
    }
.style-inlblock-3
     {
        
        width: 18%;
        color: #000000;
        font-size: 20px;
        line-height: normal;
        letter-spacing: normal;
        word-spacing: normal;
        border: 2px solid black;
        display: inline-block;
    }
.style-pos-1
    {
        color: #000000;
        font-size: 17px;
        line-height: 1px;
        letter-spacing: normal;
        word-spacing: normal;
    }
.style-pos-2
    {
        color: #000000;
        font-size: 17px;
        line-height: 1px;
        letter-spacing: normal;
        word-spacing: normal;
        position: relative;
        left: 50px;
    }
.style-pos-3
    {
        color: #000000;
        font-size: 17px;
        line-height: 1px;
        letter-spacing: normal;
        word-spacing: normal;
        position: relative;
        left: 100px;
    }

.style-pos-4
    {
        color: #000000;
        font-size: 17px;
        line-height: 1px;
        letter-spacing: normal;
        word-spacing: normal;
        position: absolute;
        bottom : 0px;
        right: 0px;
    }

.div-boite
    {
        background-color: aquamarine;
        width: 750px; /* largeur de la boite*/
        height: 600px;/* hauteur de la boite*/
        padding: 20px;/* marge interieure*/
        border: 20px ;/* largeur de la bordure */
        border-style: solid;
        border-color: rgb(5, 77, 77);
        margin: 50px;/* marge exterieure de la boite*/
    }

.div-boite-2
    {
        
        border-width: 5px;
        border-style: solid;
        border-color: #000000;
    }

.div-boite-3
    {
        background-color: aquamarine;
        border-left-width: 5px;
        border-right-width: 5px;
        border-top-width: 15px;
        border-bottom-width:10px;
        border-style: groove;
    }

.div-boite-4
    {
        background-color: rgb(150, 148, 160);
        border-left-width: 5px;
        border-right-width: 5px;
        border-top-width: 5px;
        border-bottom-width:5px;
        border-style: groove;
        border-radius: 15px;
        
    }

.div-boite-5a
    {   
        width: 50%;
        background-color: rgb(148, 192, 177);
        border-left-width: 5px;
        border-right-width: 5px;
        border-top-width: 5px;
        border-bottom-width:5px;
        border-style: solid;
    }

.div-boite-5b
    {   
        width: 50%;
        background-color: rgb(148, 192, 177);
        border-left-width: 5px;
        border-right-width: 5px;
        border-top-width: 5px;
        border-bottom-width:5px;
        border-style: solid;
        padding: 50px;
    }

.div-boite-5c
    {   
        width: 50%;
        background-color: rgb(148, 192, 177);
        border-left-width: 5px;
        border-right-width: 5px;
        border-top-width: 5px;
        border-bottom-width:5px;
        border-style: solid;
        padding: 50px;
        margin: 25px;
    }

.div-boite-5cin
    {   
        width: auto;
        background-color: rgb(148, 192, 177);
        border-left-width: 5px;
        border-right-width: 5px;
        border-top-width: 5px;
        border-bottom-width:5px;
        border-style: solid;
        /*padding: 50px;*/
        margin: 25px;
    }

.div-display-1
    {   
        width: 800px;
        background-color: rgb(197, 170, 172);
        border-left-width: 5px;
        border-right-width: 5px;
        border-top-width: 5px;
        border-bottom-width:5px;
        border-style: solid;
        padding: 25px 50px;
        margin : 0px auto; /*permet de centrer la cadre*/
    }

.div-display-2
    {   
        height: 250px;
        background-color: rgb(197, 170, 172);
        border: 5px;
        border-style: double;
                        
    }

.boites
    {
        letter-spacing: normal;
        word-spacing: normal;
        color: #000000;
        font-size: 25px;
        
    }

.div-solid
    {
        border-width: 5px;
        border-style: solid;
        border-color: #000000;
    }

.div-dotted
    {
        border-width: 5px;
        border-style: dotted;
        border-color: #000000;
    }

.div-double
    {
        border-width: 5px;
        border-style: double;
        border-color: #000000;
    }

.div-dashed
    {
        border-width: 5px;
        border-style: dashed;
        border-color: #000000;
    }

.div-groove
    {
        border-width: 5px;
        border-style: groove;
        border-color: #000000;
    }

.div-ridge
    {
        border-width: 5px;
        border-style: ridge;
        border-color: #000000;
    }

.div-inset
    {
        border-width: 5px;
        border-style: inset;
        border-color: #000000;
    }

.div-outset
    {
        
        border-width: 5px;
        border-style: outset;
        border-color: #000000;
    }
.div-pos-1
    {
        position:relative ;
        background-color: rgb(146, 173, 124);
        color: #000000;
        font-size: 20px;
        line-height: normal;
        letter-spacing: normal;
        word-spacing: normal;
        border: 2px solid black;
    }

.div-pos-2
    {
        position:fixed;
        width: 30%;
        bottom: 0px;
        left: 500px;
        background-color: rgb(146, 173, 124);
        color: #000000;
        font-size: 20px;
        line-height: normal;
        letter-spacing: normal;
        word-spacing: normal;
        border: 2px solid black;
        z-index: 10;
    }

.div-pos-3
    {
        position: relative;
        width: 50%;
        height: 400px;
        background-color: rgb(161, 124, 173);
        color: #000000;
        font-size: 20px;
        line-height: normal;
        letter-spacing: normal;
        word-spacing: normal;
        border: 2px solid black;
    }

